<h1><center>Salary Slab Prediction Using CLassification</center></h1>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow.compat.v1 as tf

/home/rohit_psspl/environments/my_env/lib64/python3.6/site-packages/tensorflow/python/framework/dtypes.py:526: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/rohit_psspl/environments/my_env/lib64/python3.6/site-packages/tensorflow/python/framework/dtypes.py:527: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/rohit_psspl/environments/my_env/lib64/python3.6/site-packages/tensorflow/python/framework/dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/rohit_psspl/environments/my_env/lib64/python3.6/site-packages/tensorflow/python/framework/dtypes.py:529: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/rohit_psspl/environments/my_env/lib64/python3.6/site-packages/tensorflow/python/framework/dtypes.py:530: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/rohit_psspl/environments/my_env/lib64/python3.6/site-packages/tensorflow/python/framework/dtypes.py:535: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [2]:
salary = pd.read_csv("/home/rohit_psspl/Desktop/machine learning projects/tensor flow/data/Salary_data.csv")

In [3]:
salary.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
salary['income_bracket'].unique()

array([' <=50K', ' >50K'], dtype=object)

In [5]:
def label_fix(label):
    if label == ' <=50K':
        return 0
    else:
        return 1

In [6]:
salary['income_bracket'] = salary['income_bracket'].apply(label_fix)

In [7]:
salary.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country,income_bracket
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0

In [8]:
x_data = salary.drop('income_bracket',axis=1)
y_data = salary['income_bracket']

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
X_train, X_test, y_train, y_test = train_test_split(x_data, y_data, test_size=0.3, random_state=101)

In [11]:
X_train.head()

,age,workclass,education,education_num,marital_status,occupation,relationship,race,gender,capital_gain,capital_loss,hours_per_week,native_country
20895,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Female,0,0,28,United-States
3384,47,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Wife,Black,Female,15024,0,40,United-States
1832,46,Local-gov,Some-college,10,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,24,United-States
18919,46,State-gov,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,48,United-States
31685,60,Private,HS-grad,9,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States

In [12]:
y_train.head()

20895    0
3384     1
1832     0
18919    0
31685    0
Name: income_bracket, dtype: int64

In [13]:
salary.columns

Index(['age', 'workclass', 'education', 'education_num', 'marital_status',
       'occupation', 'relationship', 'race', 'gender', 'capital_gain',
       'capital_loss', 'hours_per_week', 'native_country', 'income_bracket'],
      dtype='object')

In [14]:
gender = tf.feature_column.categorical_column_with_vocabulary_list('gender',["Female","Male"] )

In [15]:
occupation = tf.feature_column.categorical_column_with_hash_bucket("occupation",hash_bucket_size=1000)
workclass = tf.feature_column.categorical_column_with_hash_bucket("workclass",hash_bucket_size=1000)
education = tf.feature_column.categorical_column_with_hash_bucket("education",hash_bucket_size=1000)
martial_status = tf.feature_column.categorical_column_with_hash_bucket("marital_status",hash_bucket_size=1000)
relationship = tf.feature_column.categorical_column_with_hash_bucket("relationship",hash_bucket_size=1000)
native_country = tf.feature_column.categorical_column_with_hash_bucket("native_country",hash_bucket_size=1000)
race = tf.feature_column.categorical_column_with_hash_bucket("race",hash_bucket_size=1000)

In [16]:
age =tf.feature_column.numeric_column("age")
education_num =tf.feature_column.numeric_column("education_num")
capital_gain =tf.feature_column.numeric_column("capital_gain")
capital_loss =tf.feature_column.numeric_column("capital_loss")
hours_per_week =tf.feature_column.numeric_column("hours_per_week")

In [17]:
feat_cols = [gender,occupation,workclass,education,martial_status,relationship,native_country,race,age,education_num,capital_gain,capital_loss,hours_per_week]

In [18]:
input_func = tf.estimator.inputs.pandas_input_fn(X_train,y_train,batch_size=100,num_epochs=None,shuffle=True)

In [19]:
model = tf.estimator.LinearClassifier(feat_cols)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: /tmp/tmp4alwg2l9
INFO:tensorflow:Using config: {'_model_dir': '/tmp/tmp4alwg2l9', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': allow_soft_placement: true
graph_options {
  rewrite_options {
    meta_optimizer_iterations: ONE
  }
}
, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_protocol': None, '_eval_distribute': None, '_experimental_distribute': None, '_service': None, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x7fbbc4ca9080>, '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}

In [20]:
model.train(input_func,steps=1000)

WARNING:tensorflow:From /home/rohit_psspl/environments/my_env/lib64/python3.6/site-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.
WARNING:tensorflow:From /home/rohit_psspl/environments/my_env/lib64/python3.6/site-packages/tensorflow_estimator/python/estimator/inputs/queues/feeding_queue_runner.py:62: QueueRunner.__init__ (from tensorflow.python.training.queue_runner_impl) is deprecated and will be removed in a future version.
Instructions for updating:
To construct input pipelines, use the `tf.data` module.
WARNING:tensorflow:From /home/rohit_psspl/environments/my_env/lib64/python3.6/site-packages/tensorflow_estimator/python/estimator/inputs/queues/feeding_functions.py:500: add_queue_runner (from tensorflow.python.training.queue_runner_impl) is deprecated and will be removed in a future version.
Instructions for updating:
To construct input pipelines, use the `tf.data` module.
INFO:tensorflow:Calling model_fn.
WARNING:tensorflow:From /home/rohit_psspl/environments/my_env/lib64/python3.6/site-packages/tensorflow/python/feature_column/feature_column_v2.py:2703: to_float (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
WARNING:tensorflow:From /home/rohit_psspl/environments/my_env/lib64/python3.6/site-packages/tensorflow/python/ops/lookup_ops.py:1137: to_int64 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
WARNING:tensorflow:From /home/rohit_psspl/environments/my_env/lib64/python3.6/site-packages/tensorflow/python/training/monitored_session.py:809: start_queue_runners (from tensorflow.python.training.queue_runner_impl) is deprecated and will be removed in a future version.
Instructions for updating:
To construct input pipelines, use the `tf.data` module.
INFO:tensorflow:Saving checkpoints for 0 into /tmp/tmp4alwg2l9/model.ckpt.
INFO:tensorflow:loss = 69.31472, step = 1
INFO:tensorflow:global_step/sec: 185.291
INFO:tensorflow:loss = 333.264, step = 101 (0.542 sec)
INFO:tensorflow:global_step/sec: 391.34
INFO:tensorflow:loss = 136.28938, step = 201 (0.256 sec)
INFO:tensorflow:global_step/sec: 280.466
INFO:tensorflow:loss = 112.13793, step = 301 (0.357 sec)
INFO:tensorflow:global_step/sec: 252.738
INFO:tensorflow:loss = 109.07566, step = 401 (0.397 sec)
INFO:tensorflow:global_step/sec: 267.519
INFO:tensorflow:loss = 259.65488, step = 501 (0.374 sec)
INFO:tensorflow:global_step/sec: 278.65
INFO:tensorflow:loss = 23.648848, step = 601 (0.359 sec)
INFO:tensorflow:global_step/sec: 295.91
INFO:tensorflow:loss = 142.74086, step = 701 (0.337 sec)
INFO:tensorflow:global_step/sec: 304.698
INFO:tensorflow:loss = 48.242844, step = 801 (0.328 sec)
INFO:tensorflow:global_step/sec: 345.045
INFO:tensorflow:loss = 332.53833, step = 901 (0.289 sec)
INFO:tensorflow:Saving checkpoints for 1000 into /tmp/tmp4alwg2l9/model.ckpt.
INFO:tensorflow:Loss for final step: 115.71077.

In [21]:
eval_input_func = tf.estimator.inputs.pandas_input_fn(X_test,y_test,batch_size=10,num_epochs=1,shuffle=False)

In [22]:
results = model.evaluate(eval_input_func)

INFO:tensorflow:Calling model_fn.
WARNING:tensorflow:From /home/rohit_psspl/environments/my_env/lib64/python3.6/site-packages/tensorflow/python/ops/metrics_impl.py:2002: div (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Deprecated in favor of operator or tf.math.divide.
WARNING:tensorflow:Trapezoidal rule is known to produce incorrect PR-AUCs; please switch to "careful_interpolation" instead.
WARNING:tensorflow:Trapezoidal rule is known to produce incorrect PR-AUCs; please switch to "careful_interpolation" instead.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Starting evaluation at 2020-01-15T11:48:05Z
INFO:tensorflow:Graph was finalized.
WARNING:tensorflow:From /home/rohit_psspl/environments/my_env/lib64/python3.6/site-packages/tensorflow/python/training/saver.py:1266: checkpoint_exists (from tensorflow.python.training.checkpoint_management) is deprecated and will be removed in a future version.
Instructions for updating:
Use standard file APIs to check for files with this prefix.
INFO:tensorflow:Restoring parameters from /tmp/tmp4alwg2l9/model.ckpt-1000
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Finished evaluation at 2020-01-15-11:48:07
INFO:tensorflow:Saving dict for global step 1000: accuracy = 0.83550006, accuracy_baseline = 0.7611833, auc = 0.840606, auc_precision_recall = 0.7098893, average_loss = 0.4811254, global_step = 1000, label/mean = 0.23881666, loss = 4.810762, precision = 0.6770732, prediction/mean = 0.23219922, recall = 0.59494215
INFO:tensorflow:Saving 'checkpoint_path' summary for global step 1000: /tmp/tmp4alwg2l9/model.ckpt-1000

In [23]:
results

{'accuracy': 0.83550006,
 'accuracy_baseline': 0.7611833,
 'auc': 0.840606,
 'auc_precision_recall': 0.7098893,
 'average_loss': 0.4811254,
 'label/mean': 0.23881666,
 'loss': 4.810762,
 'precision': 0.6770732,
 'prediction/mean': 0.23219922,
 'recall': 0.59494215,
 'global_step': 1000}

In [24]:
pred_func = tf.estimator.inputs.pandas_input_fn(X_test,batch_size=len(X_test),shuffle=False)

In [25]:
prediction = list(model.predict(pred_func))

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from /tmp/tmp4alwg2l9/model.ckpt-1000
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.

In [26]:
prediction[0]

{'logits': array([-1.1991503], dtype=float32),
 'logistic': array([0.23162642], dtype=float32),
 'probabilities': array([0.7683736 , 0.23162642], dtype=float32),
 'class_ids': array([0]),
 'classes': array([b'0'], dtype=object)}

In [27]:
final_pred = []
for pred in prediction:
    final_pred.append(pred['class_ids'][0])

In [28]:
pred = pd.DataFrame(final_pred,index=y_test.index,columns=["Predicted"])
test = pd.DataFrame(y_test)
print(pred.shape,test.shape)

(9769, 1) (9769, 1)

In [29]:
pred

       Predicted
22357          0
26009          0
20734          0
17695          0
27908          1
...          ...
1943           1
23213          0
10374          0
16238          0
28445          0

[9769 rows x 1 columns]

In [30]:
test

       income_bracket
22357               0
26009               0
20734               0
17695               0
27908               1
...               ...
1943                1
23213               0
10374               0
16238               1
28445               0

[9769 rows x 1 columns]

In [31]:
final= pd.concat([pred,test],1)

In [32]:
final.head(10)

       Predicted  income_bracket
22357          0               0
26009          0               0
20734          0               0
17695          0               0
27908          1               1
27225          0               0
13108          0               0
27552          0               0
14043          0               0
30313          0               0

In [33]:
from sklearn.metrics import classification_report

In [34]:
print(classification_report(y_test,final_pred))

              precision    recall  f1-score   support

           0       0.88      0.91      0.89      7436
           1       0.68      0.59      0.63      2333

   micro avg       0.84      0.84      0.84      9769
   macro avg       0.78      0.75      0.76      9769
weighted avg       0.83      0.84      0.83      9769